@import 'normalize';
@import 'boilerplate';

// Variables
$site-width: 960;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//@media (min-width: $screen-sm-min) { ... }
//@media (min-width: $screen-md-min) { ... }
//@media (min-width: $screen-lg-min) { ... }


// Colors
// $color-blue: #60aff0;


// Common
html, body {
    min-width: #{$site-width}px;
}
html {
	background: url('../img/tile_bg.png') repeat center top;
}
body {
	font-family: "Roboto", sans-serif;
}
.container {
    margin: 0 auto;
    width: #{$site-width}px;
    position: relative;
}


// Header 
.header-wrap {
	padding: 10px 0;
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	background: #fff;
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 1.2em;
	}
	li {
		display: inline-block;
		margin-left: 10px;
		a {
			display: block;
			padding: 10px 20px;
			color: #000;
			text-decoration: none;
		}
		&:first-child {
			margin-left: 0;
		}
		&.active {
			background: #f5f5f5;
			border-radius: 4px;
			box-shadow: 0 0 6px rgba(0,0,0,0.4) inset;
			a {
				color: green;
			}
		}
	}
}


// Main 
.wrapper {
	text-align: center;
}



// Players (common)
.player{
	display: inline-block;
	text-align: center;
}
.player-head-container {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	&:hover .player-hat {
		opacity: 0;
	}
}
.player-head {
	position: absolute;
	z-index: 1;
}
.player-hat {
	position: absolute;
	z-index: 2;
	transition: opacity 0.4s;
}
.player-name {
	margin-top: 10px;
}


// Online Players
.online-players {
	.player {
		width: 160px;
		height: 170px;
	}
	.player-head-container {
		width: 100px;
		height: 100px;
	}
	.loader {
		margin-top: 34px;
	}
	.player-head {
		top: -100px;
		left: -100px;
	}
	.player-hat {
		top: -100px;
		left: -500px;
	}
}


// Offline Players
.offline-players {
	border-top: 1px solid #ccc;
	.player {
		width: 140px;
		height: 120px;
	}
	.player-head-container {
		width: 50px;
		height: 50px;
	}
	.loader {
		margin-top: 9px;
	}
	.player-head {
		top: -50px;
		left: -50px;
	}
	.player-hat {
		top: -50px;
		left: -250px;
	}
}


.whitelist-note {
	margin-top: 30px;
	line-height: 1.5em;
	font-size: 0.9em;
}